body{
	height: 100%;
	width: 100%;
    background-color: #777;
}
header{
	min-height: 100%;
    background-image: url(../obrazki/Tlo_header2.png);
    background-repeat: no-repeat;
    background-position: top;
    color: #fff;
    background-size: cover;
    padding-top: 50px;

}
header a{
    text-transform: uppercase;
}
#home-sentence{
    position: absolute;
    top: 35%;
}
#home-sentence h2{
    font-size: 50px;
}
#home-sentence p{
    font-size: 19px;
    letter-spacing: 3px;
}
.scroll-me{
    position: absolute;
    bottom: 3%;
    left: 47%;
    text-align: center;
}
.scroll-me a{
    text-decoration: none;
    color: #fff;
}
.blog-section{
	min-height: 100%;
    padding-top: 100px;
    color: #fff;
    
}
.news-inside{
    position: absolute;
    bottom: 10px;
}
.news-inside h2{
    font-size: 20px;
}
.news-inside p{
    font-size: 12px;
    text-transform: uppercase;
}
.data-blog{
    float: left;
    margin-right: 25px;
}
.comment-blog{
    /*margin-left: 25px;*/
}
.menu{
    /*padding-top: 50px;*/
}
.menu a{
    color: #fff;
}
.all-news{
    background-size: 100% 100%;
    height: 287px;
    letter-spacing: 1px;
    background-size: cover;
}
.all-news:hover{
    -webkit-box-shadow: inset 2px 10px 150px 28px rgba(0,0,0,0.9);
    -moz-box-shadow: inset 2px 10px 150px 28px rgba(0,0,0,0.9);
    box-shadow: inset 2px 10px 150px 28px rgba(0,0,0,0.9);
}
#news1{
    background-image: url(../obrazki/News_1.gif);                
}
#news2{
    background-image: url(../obrazki/News_2.gif);
    margin-left: 20px;
}
#news3{
    background-image: url(../obrazki/News_3.gif);
    margin-top: 20px;
}
 #news4{
    background-image: url(../obrazki/News_4.gif);
    margin-left: 20px;
    margin-top: 20px;
}
.ban{
    height: 298px;
    color: #fff;
    background-size: cover;
}
.ban:hover{
    -webkit-box-shadow: inset 2px 10px 150px 28px rgba(0,0,0,0.9);
    -moz-box-shadow: inset 2px 10px 150px 28px rgba(0,0,0,0.9);
    box-shadow: inset 2px 10px 150px 28px rgba(0,0,0,0.9);
}

.ban1{
    background-image: url(../obrazki/ban_1.gif);
}
.ban2{
    background-image: url(../obrazki/ban_2.gif);
}
.ban3{
    background-image: url(../obrazki/ban_3.gif);
}
.ban4{
    background-image: url(../obrazki/ban_4.png);
}
#services{
    min-height: 100%;
    color: #000;
}
#services h2{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
.ikony-services{
    margin-top: 20px;
}
.banner{
    margin-top: 80px;
}
@media (max-width: 768px) {
.centered{
    text-align: center;
}
    }
.team-section{
    min-height: 100%;
    color: #000;
    text-align: center;
    padding-top: 100px;
}
.team-section h2{
    margin-bottom: 150px;
}
.slider2{
    height: 400px;
}
.slider2 img{
    margin: 0 auto;
}
.contact-section{
    min-height: 100%;
    color: #000;
    padding-top: 70px;
    background-image: url(../obrazki/tlo_form.png);
    background-repeat: no-repeat;
    background-size: 100%;

}
.przycisk{
    width: 100%;
    background-color: #000;
    text-transform: uppercase;
}
footer{
    background-color: #000;
    text-align: center;
}
footer h2{
    color: #fff;
}
.fb{
    background-image: url(../obrazki/facebook_ikon.png);
    width: 32px;
    height: 32px;
}
.fb:hover{
    background-image: url(../obrazki/facebook_ikon_hover.png);
}
.twitter{
    background-image: url(../obrazki/twitter_ikon.png);
    width: 32px;
    height: 32px;
    margin: 0px 20px;
}
.twitter:hover{
    background-image: url(../obrazki/twitter_ikon_hover.png);
}
.linked{
    background-image: url(../obrazki/linked_ikon.png);
    width: 32px;
    height: 32px;
}
.linked:hover{
    background-image: url(../obrazki/linked_ikon_hover.png);
}
.media{
    margin: 0 auto;
    display: table;
    min-width: 150px;
    float: none;
}
.menu2 a{
    color: #fff;
}
.menu2 ul{
  width:100%;
  margin:0 auto;
}
.menu2 li{
  display: inline-block;
  float: none;
}